﻿
@page "/edit/{id}/{partitionKey}"

@using MAUICrudP3.Models
@using MAUICrudP3.Data
@inject NavigationManager NavigationManager

<div class="container">

    <h1>Edit </h1>

    @if (editMovie.Category == null)
{
	<p><em>Loading...</em></p>
}
else
{

    <div class="row m-12">
        <div class="col-12 bg-light m-2 justify-content-start">

            <div class="p-3 mb-3 bg-primary text-white text-center">Editar Película</div>

            <EditForm Model="@editMovie">
                <div class="form-group">
                    <label for="name">Categoria</label>
                    <input type="text" id="Category" class="form-control" @bind-value="@editMovie.Category" />
                </div>

                <div class="form-group">
                    <label for="price">Título</label>
                    <input type="text" id="Title" class="form-control" @bind-value="@editMovie.Title" />
                </div>

                <div class="form-group">
                    <label for="quantity">Director</label>
                    <input type="text" id="Director" class="form-control" @bind-value="@editMovie.Director" />
                </div>

                <div class="form-group">
                    <label for="Description">Estreno</label>
                    <input type="text" id="Estreno" class="form-control" @bind-value="@editMovie.Estreno" />
                </div>

                <div class="text-center p-3 mb-3">
                    <button class="btn btn-info" @onclick="EditMovie">Actualizar</button>
                </div>
                  <div class="text-center p-3 mb-3">
                    <button class="btn btn-info" @onclick="onRegresar">Regresar</button>
                </div>

            </EditForm>
        </div>

   

    </div>
    }
</div>


@code {

    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string partitionKey { get; set; }


    public Movie editMovie { get; set; } = new Movie();

    public DBCosmosAzureService service;

    protected override async Task OnInitializedAsync()
    {

        service = new DBCosmosAzureService();
        await service.CreateDatabaseAsync();
        await service.CreateCollectionMoviesAsync();
        editMovie = await service.FindMovieAsync(id, partitionKey);
    }


    private async Task EditMovie()
    {
        editMovie.Id = id;
        editMovie.PartitionKey = partitionKey;
        await service.EditMovie(editMovie);
        onRegresar();
    }

    private void onRegresar(){
		NavigationManager.NavigateTo("/fetchdata");

	}

}
