﻿@page "/fetchdata"

@using MAUICrudP3.Data
@using MAUICrudP3.Models
@inject NavigationManager NavigationManager

<h1>Peliculas</h1>


@if (movies == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Categoría</th>
				<th>Título</th>
				<th>Director</th>
				<th>Estreno</th>
				<th>
					Opciones
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var movie in movies)
			{
				<tr>
					<td>@movie.Id</td>
					<td>@movie.Category</td>
					<td>@movie.Title</td>
					<td>@movie.Director</td>
					<td>@movie.Estreno</td>
					<td>
						  <div class="text-center p-3 mb-3">
								  <button class="btn btn-danger" @onclick="() => onDelete(movie)">Delete</button>
							</div>

							<div class="text-center p-3 mb-3">
								 <button class="btn btn-warning" @onclick="() => onEdit(movie)">Edit</button>
							</div>

					</td>

				</tr>
			}
		</tbody>
	</table>
}

@code {

	public List<Movie> movies;
	Data.DBCosmosAzureService service;


	protected override async Task OnInitializedAsync()
	{

		service = new DBCosmosAzureService();
		await service.CreateDatabaseAsync();
		await service.CreateCollectionMoviesAsync();
		movies = await service.GetMoviesAsync();
	}

	private async Task onDelete(Movie movie){
		await service.DeleteMovieAsync(movie.Id,movie.PartitionKey);
		movies = null;
		movies = await service.GetMoviesAsync();
	}

	private void onEdit(Movie movie)
	{
		if (movie.Id != "" && movie.PartitionKey != ""){
			NavigationManager.NavigateTo("/edit/" + movie.Id + "/" + movie.PartitionKey);
		}
	}





}
