﻿@page "/"
@using MAUICrudP3.Models
@using MAUICrudP3.Data

<div class="container">


    <div class="row m-12">
        <div class="col-12 bg-light m-2 justify-content-start">

            <div class="p-3 mb-3 bg-primary text-white text-center">Registrar Nueva Película</div>

            <EditForm Model="@NewMovie">
                <div class="form-group">
                    <label for="name">Categoria</label>
                    <input type="text" id="Category" class="form-control" @bind-value="@NewMovie.Category" />
                </div>

                <div class="form-group">
                    <label for="price">Título</label>
                    <input type="text" id="Title" class="form-control" @bind="@NewMovie.Title" />
                </div>

                <div class="form-group">
                    <label for="quantity">Director</label>
                    <input type="text" id="Director" class="form-control" @bind="@NewMovie.Director" />
                </div>

                <div class="form-group">
                    <label for="Description">Estreno</label>
                    <input type="text" id="Estreno" class="form-control" @bind="@NewMovie.Estreno" />
                </div>

                <div class="text-center p-3 mb-3">
                    <button class="btn btn-danger" @onclick="AddNewMovie">Registrar</button>
                </div>
              
            </EditForm>
        </div>

   

    </div>
</div>

@code {

    public Movie NewMovie { get; set; } = new Movie();

    public DBCosmosAzureService service;

    private async Task AddNewMovie()
    {
        service = new DBCosmosAzureService();
        var GUID = Guid.NewGuid();
        NewMovie.Id = GUID.ToString();
        NewMovie.PartitionKey = "Peliculas";

        await service.CreateDatabaseAsync();
        await service.CreateCollectionMoviesAsync();
        Console.Write(NewMovie);

        await service.InsertMovieAsync(NewMovie);
    }

        


}